{% extends 'layout/app.twig' %}
{% block pageContent %}
    <div id="content">
        <div class="inner">

            <!-- Post -->
            <article class="box post post-excerpt">
                <header>
                    <!--
                        Note: Titles and subtitles will wrap automatically when necessary, so don't worry
                        if they get too long. You can also remove the <p> entirely if you don't
                        need a subtitle.
                    -->


                    <!-- Post -->

                        <article class="box post post-excerpt">
                            <article class="box post post-excerpt">
                                <form></form>
                                <header>
                                    <!--
                                        Note: Titles and subtitles will wrap automatically when necessary, so don't worry
                                        if they get too long. You can also remove the <p> entirely if you don't
                                        need a subtitle.
                                    -->
                                    <h2><a href="#">ticketnaam</a></h2>
                                    <p>verkoper</p>
                                </header>

                                <p>prijs</p>
                                <p>reden</p>
                                <input type="submit" value="Kopen">


                            </article>



                        </article>


                    <!-- Pagination -->
                    <div class="pagination">
                        <!--<a href="#" class="button previous">Previous Page</a>-->
                        <div class="pages">

                        </div>

                    </div>

        </div>
    </div>
{% endblock %}